<!DOCTYPE html>
<html>
	<head>
		{{> head2018 }}
	</head>
	<body>
		{{> header2018 }}
		<div class="section full-height">
			<div class="width-constrained">
				<p class="medium">Blog</p>
				{{#each collections.posts }}
					<div class="width-text">
						<div class="post">
							<p class="mocktitle"><a href="/{{path}}">{{{ title }}}</a> - <span class="publishdate">{{{ publishDate }}}</span></p>
							<p class="summary">{{ summary }}</p>
							<p class="tail"><a href="/{{path}}">Read More</a></p>
						</div>
					</div>
				{{/each }}
			</div>
		</div>
		{{> footer }}
		{{> scripts2018 }}
	</body>
</html>
