<!doctype html>
<html>
	<head>
		{{> head2 }}
		<title>Orchard Broadband | High-speed internet for Ceader Hills, UT</title>
		<meta property="og:url" content="https://www.orchardbroadband.com" />
		<meta property="og:site_name" content="Orchard Broadband" />
		<meta property="og:title" content="Welcome to Orchard Broadband" />
		<meta property="og:description" content="High-speed internet for Cedar Hills, UT" />
		<meta property="og:image" content="https://www.orchardbroadband.com/logo-filled.png" />
		<meta property="og:image:secure_url" content="https://www.orchardbroadband.com/logo-filled.png" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:height" content="300" />
		<meta property="og:image:width" content="300" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@orchardbroad" />
	</head>
	<body>
		{{> header2 }}
		<div class="card center">
			<p class="medium">High-speed internet for Cedar Hills, UT</p>
			<object class="logo" type="image/svg+xml" data="/images/logo.svg">
				Orchard tree logo
			</object>
			<p class="medium">Coming Soon</p>
			<a href="https://docs.google.com/forms/u/0/d/e/1FAIpQLSeAzZJhauUW6Q7h6K4DrTp20CgRhRW31Ja5TmBVbShd6CPaHA/viewform?usp=sf_link" class="button">Keep me posted!</a>
		</div>
		<script>
			var logoObjects = document.getElementsByClassName('logo');
			console.log('logos', logoObjects);
			Array.prototype.forEach.call(logoObjects, (logoObject) => {
				logoObject.addEventListener('load', function() {
					logoObject.contentDocument.getElementById('tree').setAttribute('style', 'fill: #1EADE2;');
				});
			});
		</script>
		{{> scripts }}
	</body>
</html>
