nav.static {
	margin: 6px;
}
nav.static ul {
	background: none;
	box-shadow: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	max-width: none;
	position: relative;
	right: 0;
	top: auto;
	width: 100%;
	z-index: auto;
}
nav.static li {
	width: auto;
}
nav.static a {
	padding: 0 10px;
}

div.section {
	padding-top: 120px;
	padding-bottom: 120px;
}
	div.section.top {}
		div.section.top > div {
			flex-direction: row;
			justify-content: space-around;
		}
		div.section.top object {
			height: 300px;
			width: 300px;
		}
	div.section.row {}
		div.section.row > div {
			flex-direction: row;
			justify-content: space-around;
		}
		div.section.row > div div {
			width: 25%;
		}
	div.section.blog {
		padding-top: 80px;
		padding-bottom: 80px;
	}
div.w-container {
	margin: auto;
	max-width: 960px;
}

#header label {
	display: none;
}
