nav {
	margin: 6px;
	position: absolute;
	right: 0;
	z-index: 15;
}
nav input[type="checkbox"]:checked + ul  {
	width: auto;
}
nav ul {
	background: none;
	box-shadow: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	margin: 8px auto;
	max-width: none;
	position: relative;
	right: 0;
	top: auto;
	width: 100%;
	z-index: auto;
}
nav li {
	width: auto;
}
nav a {
	padding: 0 10px;
}

#header label {
	display: none;
}
